body {
	background-color: #ADD8E6;
	max-width: 960px;
	margin: auto;
}

header {
	background-color: #AFEEEE;
	border-radius: 5px;
	margin: 0 1.5%;
}

aside {
	float: left;
	margin: 0 1.5%;
	padding: 0.5% 0% 0% 0%;
	width: 24%;
	background-color: #AFEEEE;
	border-radius: 5px;
}

section {
	float: right;
	margin: 0 1.5%;
	width: 70%;	
	background-color: #AFEEEE;
	border-radius: 5px;
}

p {
	margin: 5px;
}

li {
	list-style-type: none;
} 

.button {
	background-color: none;
	border: 1px solid black;
	color: black;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	padding: 4% 6%;
	margin: 0% 2% 2% 2%;
	cursor: pointer;
	width: 84%;
	border-radius: 5px;
}

h1 {
	color: red;
	text-align: center;
}